<div class="static-menu">
               <!-- <a href="/customer/list/" class="active">
                    <span class="icon-wrap"><i class="fa fa-connectdevelop"></i></span> 客户管理</a>
                <a href="/payment/list/">
                    <span class="icon-wrap"><i class="fa fa-code-fork"></i></span> 账单管理</a>
                    -->
                {% for item in menu_list %}
                   <a href="{{ item.url }}">
                    <span class="icon-wrap"><i class="fa {{ item.icon }}"></i></span> {{ item.title }}</a>
                {% endfor %}
</div>